 <item>
    <title>eBay Template "Levels" Verkaufsvorlage Auktionsvorlage für eBay</title>
    <g:condition>new</g:condition>
    <description></description>
    <g:id>100062</g:id>
    <g:google_product_category>4954</g:google_product_category>
    <g:bild_url>https://www.auktionsvorlage-pro.de/265-large_default/levels.jpg</g:bild_url>
    <link>https://www.auktionsvorlage-pro.de/ebay-templates-vorlagen/levels.html</link>
    <g:preis>59.99</g:preis>
    <g:availability>in stock</g:availability>
    <g:gtin>7426890369387</g:gtin>
    <g:brand>Auktionsvorlage-Pro</g:brand>
    <g:produkttyp>eBay Template / eBay Templates / Verkaufsvorlage / Auktionsvorlage</g:produkttyp>
    <g:adult>no</g:adult>
    <g:versand>
        <g:land>DE</g:land>
        <g:region></g:region>
        <g:service>Downloadlink</g:service>
        <g:preis>0.00</g:preis>
    </g:versand>
</item>