<?xml version="1.0" encoding="UTF-8" ?>
<rss version ="2.0" xmlns:g="http://base.google.com/ns/1.0" xmlns:c="http://base.google.com/cns/1.0">
    <channel>
        <title>Auktionsvorlage-Pro.de - eBay Templates / Verkaufsvorlagen</title>
        <description>Unsere ebay Templates / Verkaufsvorlagen</description>
        <link>https://www.auktionsvorlage-pro.de</link>

        { $items }

    </channel>
</rss>